@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>
    Meu maior desafio como programador foi reescrever um integrador de pedidos da Loja Virtual da VTEX para 
    o ERP.
</p>
<p>O antigo utilizava uma tecnologia antiga de Webservice, eu reescrevi usando API RESTFULL.</p>
<p>Migrei para a versão 6.0 do .NET Core. Antes utilizava o .NET Framework 4.6</p>
<p>Utilizei a tecnologia do Hangfire para fazer o integrador e conectei com o banco de dados utilizando o Dapper.</p>
<p>Fiz uma fila de integração no SQL Server para evitar que perdesse informação</p>