@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bruno Oyamada</h1>
    <p><b>Cargo pretendido:</b> Desenvolvedor .NET Pleno</p>
    <p><b>Pretensão Salarial:</b> 8000</p>
    <p><b>Data do teste: </b>28/12/2022</p>
</div>
