@{
    ViewData["Title"] = "Importar Arquivos";
}

<div>
    <p>Arquivo importado com sucesso.</p>
    <a class="btn btn-secondary" asp-area="" asp-controller="Arquivos" asp-action="Index">Voltar</a>
</div>